<% layout("/layouts/boilerplate") %>
<head>
  <link rel="stylesheet" href="./css/students.css" />
</head>
<form action="/logout" method="post">
  <button>Logout</button>
</form>

<form action="/addStu" method="get">
  <button>Add Student</button>
</form>

<h1>Students List</h1>
<div class="container">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Class</th>
        <th>Aadhar</th>
        <th>Samagra</th>
        <th>Mobile</th>
        <th>Email</th>
        <th>Father</th>
        <th>Mother</th>
        <th>Address</th>
        <th>DOB</th>
        <th>Gender</th>
        <th>Caste</th>
        <th>Fees</th>
        <th>age</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% students.forEach(student => { %>
      <tr>
        <td data-label="Name"><%= student.nam || 'null' %></td>
        <td data-label="Class"><%= student.cls || 'null' %></td>
        <td data-label="Aadhar"><%= student.aadhar || 'null' %></td>
        <td data-label="Samagra"><%= student.samagra || 'null' %></td>
        <td data-label="Mobile"><%= student.mobile || 'null' %></td>
        <td data-label="Email"><%= student.email || 'null' %></td>
        <td data-label="Father"><%= student.father || 'null' %></td>
        <td data-label="Mother"><%= student.mother || 'null' %></td>
        <td data-label="Address"><%= student.address || 'null' %></td>
        <td data-label="DOB">
          <%= student.dob ? new Date(student.dob).toLocaleDateString('en-US', {
          year: 'numeric', month: 'short', day: '2-digit' }) : 'Not Available'
          %>
        </td>
        <td data-label="Gender"><%= student.gender || 'null' %></td>
        <td data-label="Caste"><%= student.caste || 'null' %></td>
        <td data-label="Fees"><%= student.fees || 'null' %></td>

        <td data-label="age"><%= student.age || 'null' %></td>
        <td data-label="Actions">
          <form action="/edit/<%= student._id %>" method="get">
            <button>Edit</button>
          </form>
          |
          <form
            action="/delete/<%= student._id %>?_method=delete"
            method="post"
            onclick="return confirm('Are you sure?');"
          >
            <button>Delete</button>
          </form>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>
